
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 10% 97%;
  --foreground: 222 50% 11%;
  
  --primary: 263 73% 75%;
  --primary-foreground: 0 0% 100%;
  
  --secondary: 263 50% 28%;
  --secondary-foreground: 0 0% 100%;
  
  --muted: 220 10% 94%;
  --muted-foreground: 215 20% 40%;
  
  --accent: 263 30% 90%;
  --accent-foreground: 222 50% 11%;
  
  --destructive: 0 62% 50%;
  --destructive-foreground: 0 0% 100%;
  
  --border: 215 30% 86%;
  --input: 215 30% 86%;
  --ring: 263 73% 75%;
  
  --radius: 0.75rem;
}
